{% extends 'template.html' %}

{% block data %}

<div class="row">
    <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
        <P class="m-auto p-2">
            Wysłaliśmy do Ciebie maila z dalszymi instrukcjami dotyczącymi zresetowania hasła.
        </p>
        <P class="m-auto p-2">
            Jeśli go nie otrzymałeś, upewnij się że podałeś właściwy adres przypisany do konta oraz sprawdź folder spam.
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

{% endblock data %}
