

{% extends 'template.html' %}

{% block data %}

<section class="reset-password" style="background: rgb(255,255,255);">
    <form method="post" class="shadow" style="border-radius: 1rem;"> {% csrf_token %}
        <div class="form-group">
            <div class="text-center">
                <div class="col-12">
                    <h1>Resetowanie hasła</h1>
                </div>
                <hr />
                <div class="col-12">
                    <h5>Wprowadz nowe hasło do konta</h5>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="my-3">
                <input type="password" id="id_new_password1" name="new_password1" placeholder="Nowe hasło" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="my-3">
                <input type="password" id="id_new_password2" name="new_password2" placeholder="Potwierdź hasło" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Ustaw nowe hasło</button>
            </div>
        </div>
    </form>
</section>

{% endblock data %}