table {
    padding: 8px 0;
  }

tr {
    text-align: center;
}

th, td {
    padding: 8px 0;

}
.url {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 6px;
    background-color: lightseagreen
} 

.none {
    text-align: center;
    margin: 10px
}
