table, th, td {
    border:1px solid black;
    padding: 8px 0;

  }

tr {
    text-align: center;
}

.url {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    background-color: #d1e7dd;
} 

.none {
    text-align: center;
    margin: 10px
}
