<style>
    table, th, td {
      border:1px solid black;
    }
    .content {
        width: 80%;
        margin: 20px;

    }

    td {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>

{% extends 'template.html' %}

{% block data %}

<table style="width: 100%;">
    <tr>
        <th>Nazwa</th>
        <th>Data dodania</th>
        <th>Typ</th>
        <th></th>
    </tr>
    {% for ad in advertisements %}
    <tr>
        <td>{{ ad.name }}</td>
        <td>{{ ad.date }}</td>
        <td>{{ ad.adType }}</td>
        <td><a href="ad/{{ ad.id }}">Szczegóły</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock data %}
