{% extends 'template.html' %}

{% block data %}

<div>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == "warning" %}
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-error alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endif %}
{% endfor %}
    {% endif %}
    {% if not user.is_authenticated %}
           
        <h2>Logowanie</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Zaloguj</button>
        </form>
        {% endif %}
</div>

{% endblock data %}